.drop_list{
    margin: 1rem;
    text-align: end;
}

.item_date_btn{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: .3rem;
    padding: .5rem;
    cursor: pointer;
}

.drop_list_img{
    display: inline-block;
    width: 5rem;
}

.drop_list > button{
    color: rgba(0, 0, 0, 0);
    background: none;
    border: none;

}


.drop_list > div{
    background: none;
    padding: .1rem;
    border-radius: .3rem;
    width: 90%;
    
}

.drop_list_item{
    background: rgba(0, 0, 0, 0.959);
    border-radius: .3rem;
    color: rgba(255, 255, 255, 0.42);
    margin: .3rem;
    transition: all .4s;
    width: 99%;
}
.drop_list_item:hover{
    background: rgba(247, 243, 243, 0.945);
    color: rgb(20, 20, 20);
}

.drop_list_item._show{
    border: 1px solid rgb(5, 228, 5);
}
.drop_list_item._show .item_date_btn{
    color: rgb(5, 228, 5);
    font-weight: 600;
}

.item_time_list{
    max-height: 0;
    overflow: hidden;
}

.drop_list_item._show .item_time_list {
    max-height: 30rem;
}

.item_time_list_item{
    font-size: 1.4rem;
    font-weight: 500;
    padding: .5rem;
    border-radius: .3rem;
    margin: .3rem;
    cursor: pointer;
    transition: all .3s;
}
.item_time_list_item:hover{

    border: 1px solid rgba(255, 255, 255, 0.733);
    color: rgba(255, 255, 255, 0.603);
    background: rgba(0, 0, 0, 0.5);
}

.item_time_list_item._show{
    border: 1px solid green;
    color: green;
    background: rgba(0, 0, 0, 0.76);
}
@media (max-width: 1020px){
    .drop_list{
        text-align: start;
    }
}

@media (max-width: 870px){
   
    .drop_list > div{
        width: 90%;
    }
}